body {
    --width-cell: 80px;
    --height-cell: 80px;
    background: linear-gradient(129deg, rgba(2,138,88,1) 0%, rgba(14,117,116,1) 50%, rgba(0,164,255,1) 100%);
}

.black-cell {
    background-color: rgb(69, 53, 53);
}

.white-cell {
    background-color: rgb(192, 187, 169);
}

.cell-board {
    border: 0px;
    width: var(--width-cell);
    height: var(--height-cell);
    margin: 0px;
    padding: 0px;
    transition: 0.26s;
    font-size: 0px;
}

.cell-board > .piece {
    width: var(--width-cell);
    height: var(--height-cell);
    border: 0px;
    offset: 0px;
}


.piece[celldata='  '] {
    border: 0px;
    offset: 0px;

    display: hide;
}

.piece[celldata='  ']:hover {
    cursor: default;
}

.piece[celldata='Rb'] {
    background-image: url("img/pieces/blackRook.png");
    background-size: var(--width-cell);
}

.piece[celldata='Rw'] {
    background-image: url("img/pieces/whiteRook.png");
    background-size: var(--width-cell);
}

.piece[celldata='Bb'] {
    background-image: url("img/pieces/blackBishop.png");
    background-size: var(--width-cell);
}

.piece[celldata='Bw'] {
    background-image: url("img/pieces/whiteBishop.png");
    background-size: var(--width-cell);
}

.piece[celldata='Qb'] {
    background-image: url("img/pieces/blackQueen.png");
    background-size: var(--width-cell);
}

.piece[celldata='Qw'] {
    background-image: url("img/pieces/whiteQueen.png");
    background-size: var(--width-cell);
}

.piece[celldata='Kb'] {
    background-image: url("img/pieces/blackKing.png");
    background-size: var(--width-cell);
}

.piece[celldata='Kw'] {
    background-image: url("img/pieces/whiteKing.png");
    background-size: var(--width-cell);
}

.piece[celldata='Nb'] {
    background-image: url("img/pieces/blackKnight.png");
    background-size: var(--width-cell);
}

.piece[celldata='Nw'] {
    background-image: url("img/pieces/whiteKnight.png");
    background-size: var(--width-cell);
}

.piece[celldata='pb'] {
    background-image: url("img/pieces/blackPawn.png");
    background-size: var(--width-cell);
}

.piece[celldata='pw'] {
    background-image: url("img/pieces/whitePawn.png");
    background-size: var(--width-cell);
}

.board-game{
    display: flex;
    position: absolute;

    flex-direction: column;

    top: 44%;
    left:  50%;

    transform: translate(-50%,-50%);
}

.who-is-move {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    width: calc(var(--width-cell) * 8);
    outline: 2px solid rgb(164, 163, 163);
    margin-top: 12px;
}

.who-is-move[whoismoving="white"] {
    background-color: white;
}

.who-is-move[whoismoving="black"] {
    background-color: black;
}

.hidden-piece {
    display: none;
    width: 0px;
    height: 0px;
}

.cell-board:hover {
    cursor: pointer;
}

.selected {
    background-color: rgb(213, 46, 46);
    box-shadow: 0px 0px 30px rgb(255, 0, 0);
}

.board {
    display: grid;
    grid-template-rows: repeat(8, var(--height-cell));
    grid-template-columns: repeat(8, var(--width-cell));
    width: calc(8 * var(--width-cell));
    border: 2px solid black;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 300px rgb(130, 128, 128);
}

.background-none {
    background-color: rgba(255, 255, 255, 0);
}

.checked-cell {
    background-color: red;
}