body {
    --width-cell: 80px;
    --height-cell: 80px;
    background-color: rgb(132, 121, 121);
}

.black-cell {
    background-color: rgb(51, 43, 43);
}

.white-cell {
    background-color: rgb(190, 184, 162);
}

.cell-board {
    border: 0px;
    width: var(--width-cell);
    height: var(--height-cell);
    margin: 0px;
    padding: 0px;
    transition: 0.26s;
    font-size: 0px;
}

.cell-board > .piece {
    width: var(--width-cell);
    height: var(--height-cell);
    border: 0px;
    offset: 0px;
}


.piece[celldata='  '] {
    border: 0px;
    offset: 0px;

    display: hide;
}

.piece[celldata='Rb'] {
    background-image: url("img/pieces/blackRook.png");
    background-size: var(--width-cell);
}

.piece[celldata='Rw'] {
    background-image: url("img/pieces/whiteRook.png");
    background-size: var(--width-cell);
}

.piece[celldata='Bb'] {
    background-image: url("img/pieces/blackBishop.png");
    background-size: var(--width-cell);
}

.piece[celldata='Bw'] {
    background-image: url("img/pieces/whiteBishop.png");
    background-size: var(--width-cell);
}

.piece[celldata='Qb'] {
    background-image: url("img/pieces/blackQueen.png");
    background-size: var(--width-cell);
}

.piece[celldata='Qw'] {
    background-image: url("img/pieces/whiteQueen.png");
    background-size: var(--width-cell);
}

.piece[celldata='Kb'] {
    background-image: url("img/pieces/blackKing.png");
    background-size: var(--width-cell);
}

.piece[celldata='Kw'] {
    background-image: url("img/pieces/whiteKing.png");
    background-size: var(--width-cell);
}

.hidden-piece {
    display: none;
    width: 0px;
    height: 0px;
}

.cell-board:hover {
    cursor: pointer;
    background-color: rgb(46, 194, 213);
    box-shadow: 0px 0px 30px rgb(0, 255, 238);
}

.selected {
    background-color: rgb(213, 46, 46);
    box-shadow: 0px 0px 30px rgb(255, 0, 0);
}

.board {
    display: grid;
    grid-template-rows: repeat(8, var(--height  -cell));
    grid-template-columns: repeat(8, var(--width-cell));
    width: calc(8 * var(--width-cell));
    border-radius: 10px;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    transform: translate(0%,-50%);
}