body {
    --width-cell: 80px;
    --height-cell: 80px;
    background: linear-gradient(90deg, rgb(141, 146, 144) 0%, rgb(150, 213, 212) 50%, rgb(255, 255, 255) 100%);
}

.who-is-move {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    width: calc(var(--width-cell) * 8);
    outline: 2px solid rgb(164, 163, 163);
    margin-top: 12px;
}

.who-is-move[whoismoving="white"] {
    background-color: white;
}

.who-is-move[whoismoving="black"] {
    background-color: black;
}